{
  "presets": ["next/babel"],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./"],
        "alias": {
          "@Actions": "./src/actions",
          "@Components": "./src/components",
          "@Containers": "./src/containers",
          "@Definitions": "./src/definitions",
          "@Interfaces": "./src/interfaces",
          "@Pages": "./pages",
          "@Layouts": "./src/layouts",
          "@Reducers": "./src/reducers",
          "@Store": "./src/store",
          "@Services": "./src/services",
          "@Server": "./server",
          "@Static": "./public/static",
          "@Styled": "./src/styled",
          "@Utils": "./src/utils"
        }
      }
    ],
    [
      "babel-plugin-styled-components",
      {
        "ssr": true
      }
    ]
  ]
}
