#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

.arrow-div-icon {
  position: absolute;
  top: -6px;
  z-index: 1;

  .arrow-title {
    position: absolute;
    top: 25px;
    left: 10px;
  }
}

.leaflet-control-container {
  display: none;
}

.image-device {
  position: absolute;
  width: 34px;
  height: 34px;
  top: 12px;
  left: 12px;
  z-index: 2;
  object-fit: contain;
  text-align: center;
}

.title-device,
.red-title-device {
  padding: 2px 0;
  border-radius: 2px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.16);
  line-height: 1.17;
  letter-spacing: normal;
  text-align: center;
  position: relative;
  top: 12px;
}

.title-device {
  background-color: #ffffff;
  color: #1a1a1a;
}

.red-title-device {
  color: #ffffff;
  background-color: #a41b0d;
}


.marker-pin {
  width: 59px;
  height: 72px;
  cursor: pointer;
  // background-image: url('/images/icon-marker.svg');
  background-repeat: no-repeat;
  background-position: top;
  background-size: 59px;
  position: absolute;
  top: -62px;
  left: -24px;

  @media screen and (max-width: 768px) {
    & {
      width: 48px;
      height: 58px;
      background-size: 48px;
      top: -48px;
      left: -19px;

      .image-device {
        width: 26px;
        height: 26px;
        top: 10px;
        left: 11px;
      }
    }
  }
}

.image-marker {
  width: 45px;
  position: absolute;
  height: 45px;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  top: 7px;
  left: 7px;

}

.icon-red {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #f4433675;
  padding: 4px;
  position: relative;
  display: block;
  background: #e60000;
  margin: 0 auto;
  border: solid 2px rgba(230, 0, 0, 0.2);
  box-shadow: 0 0 0 2px rgba(230, 0, 0, 0.2);
  animation: no-beep 2s ease infinite;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
}

.icon-red-active {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #f4433675;
  padding: 4px;
  position: relative;
  display: block;
  background: #e60000;
  margin: 0 auto;
  border: solid 2px rgba(230, 0, 0, 0.2);
  box-shadow: 0 0 0 2px rgba(230, 0, 0, 0.2);
  animation: beep 2s ease infinite;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
}

.icon-red-sos {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #f4433675;
  padding: 4px;
  position: relative;
  display: block;
  background: #e60000;
  margin: 0 auto;
  border: solid 2px rgba(230, 0, 0, 0.2);
  box-shadow: 0 0 0 2px rgba(230, 0, 0, 0.2);
  animation: sos 0.7s ease infinite;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
}

@keyframes no-beep {
  0% {
    transform: scale(1);
  }

  15% {
    box-shadow: 0 0 0 5px rgba(230, 0, 0, 0.2);
  }
}

@keyframes beep {
  0% {
    transform: scale(1);
  }

  15% {
    box-shadow: 0 0 0 5px rgba(230, 0, 0, 0.2);
  }

  25% {
    box-shadow: 0 0 0 10px rgba(230, 0, 0, 0.2), 0 0 0 20px rgba(230, 0, 0, 0.2);
  }

  25% {
    box-shadow: 0 0 0 15px rgba(230, 0, 0, 0.4), 0 0 0 30px rgba(230, 0, 0, 0.2);
  }

  40% {
    box-shadow: 0 0 0 20px rgba(230, 0, 0, 0.2), 0 0 0 40px rgba(230, 0, 0, 0.2);
  }
}

@keyframes sos {
  0% {
    transform: scale(1);
  }

  15% {
    box-shadow: 0 0 0 5px rgba(230, 0, 0, 0.2);
  }

  25% {
    box-shadow: 0 0 0 10px rgba(230, 0, 0, 0.2), 0 0 0 20px rgba(230, 0, 0, 0.2);
  }

  25% {
    box-shadow: 0 0 0 15px rgba(230, 0, 0, 0.4), 0 0 0 30px rgba(230, 0, 0, 0.2);
  }

  40% {
    box-shadow: 0 0 0 20px rgba(230, 0, 0, 0.2), 0 0 0 40px rgba(230, 0, 0, 0.2);
  }
}

.mapboxgl-ctrl-logo {
  display: none !important;
}