.custom-div-icon {
  .marker-pin {
    width: 65px;
    height: 65px;
    border-radius: 50% 50% 50% 0;
    background: #c30b82;
    position: absolute;
    transform: rotate(-45deg);
    left: 50%;
    top: 50%;
    margin: -15px 0 0 -15px;
    z-index: 2;
    .image-device {
      width: 44px;
      z-index: 3;
      height: 38px;
      object-fit: contain;
      position: absolute;
      margin: 11px -12px -20px 12px;
      transform: rotate(45deg);
    }
    &::after {
      content: '';
      width: 56px;
      height: 56px;
      margin: 3px 2px 0px 6px;
      background: #168449;
      position: absolute;
      border-radius: 50%;
    }
  }

  .icon-red {
    width: 20px;
    height: 18px;
    border-radius: 50%;
    background-color: #e60000;
    padding: 4px;
    position: absolute;
    margin: 53px 6px 6px 8px;
    border: solid 4px rgba(230, 0, 0, 0.5);
  }
}
