html,
body {
  height: 100%;
  width: 100%;
}

*,
*:after,
*:before {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  color: #1a1a1a;
  margin: 0;
}

#__next {
  width: 100vw;
  height: 100vh;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-background-clip: text;
}

#country-menu ul li {
  color: #1a1a1a !important;
}
.react-tel-input > input {
  height: 50px;
  width: 143px !important;
  color: gray;
  border-color: gray;
  &.form-control:disabled {
    border-color: gray;
    color: gray;
  }
  &.form-control:focus {
    border-color: gray;
    color: gray;
    box-shadow: 0 0 0 0;
  }
  & + div.flag-dropdown::before {
    content: 'Phone Number' !important;
    color: gray !important;
  }
}
